[submodule "external/PS3EYEDriver"]
	path = external/PS3EYEDriver
	url = https://github.com/brendanwalker/PS3EYEDriver.git
[submodule "external/libusb-1.0"]
	path = external/libusb-1.0
	url = https://github.com/libusb/libusb.git
[submodule "external/SDL2"]
	path = external/SDL2
	url = https://github.com/spurious/SDL-mirror.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://github.com/RLovelett/eigen.git
[submodule "external/hidapi"]
	path = external/hidapi
	url = https://github.com/cboulay/hidapi.git
